<!DOCTYPE html>
<!-- Flask App by Marcelo Marcon 2016 - [Python3]-->

<html lang="pt-br" ng-app="JM">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Css Custon and Bootstrap Config -->
    <script src="{{ url_for("static", filename="js/jquery-3.1.0.min.js")}}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap.min.js")}}"></script>
    <script src="{{ url_for("static", filename="js/angular.min.js")}}"></script>
    <script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>
    <script src="http://code.angularjs.org/1.5.3/angular-messages.js"></script>
    <script src="{{ url_for("static", filename="js/app.js")}}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/normalize.css")}}" >
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css")}}" >
    <!--<link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap-theme.min.css")}}" > -->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/master.css")}}" >
    <!-- Java Script Respond -->
    <!-- Title -->
    <title>Flask - JM</title>
    <style>
    .jumbotron {
			width: 600px;
      height: auto;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
      border-radius: 10px;
		}
		h3 {
			margin-bottom: 30px;
		}
		.table {
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
		}
		.selecionado {
			background-color: yellow;
		}
		.negrito {
			font-weight: bold;
		}
		hr {
			border-color: #999;
		}
     </style>
</head>
<body ng-controller="jmCtrl">
  <div class="jumbotron">
		<h3>{% raw %}{{app}}{% endraw %}</h3>
    <table class="table table-striped">

			<tr>
				<th><a href="">Nome</a></th>
				<th><a href="">Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
			</tr>
      {% for contato in contatos %}
			<tr>
  				<td>{{contato.nome}}</td>
  				<td>{{contato.telefone}}</td>
  				<td>{{contato.operadora}}</td>
  				<td>{{contato.data}}</td>
        {% endfor %}
			</tr>
      <br/>
		</table>
		</table>
		<hr/>
		<form name="contatoForm" method="post" action="{{ url_for('posta') }}">
			<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
			<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			<select class="form-control" ng-model="contato.operadora" name="operadora">
        <option value="" selected="true">Selecione uma operadora</option>
        {% for opt in options %}
        <option value={{opt}}>{{opt}}</option>

        {% endfor %}
			</select>


		<div ng-show="contatoForm.telefone.$dirty && contatoForm.nome.$dirty == false"  ng-messages="contatoForm.nome.$error">
			<div ng-message="required" class="alert alert-danger">
			  Por favor, preencha o campo nome!
			</div>
    </div>
    <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
			<div ng-show="contatoForm.nome.$viewValue.length <= 10" ng-message="minlength" class="alert alert-danger">
				O campo nome deve ter no mínimo 10 caracteres.
			</div>
		</div>

		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
			Por favor, preencha o campo telefone!
		</div>
		<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
			O campo telefone deve ter o formato DDDDD-DDDD.
		</div>
	<button class="btn btn-primary btn-block" type="submit" ng-disabled="contatoForm.$invalid">Adicionar Contato</button></form>
	
	</div>
</body>

</html>
